.App {
  text-align: center;
}

.App-logo {
  margin-top: 25px;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
button{
  cursor: pointer;
}

.dog--button{
  padding: 10px;
  border: 0;
  min-width: 200px;
  background: black;
  color: forestgreen;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
